html{
    margin: 0;
    padding: 0;
    margin-top: -20px;
   
}

*{ font-family: 'Source Sans Pro', sans-serif;
}

nav{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
    height: 70px;
    position: fixed;
    z-index: 16;
    width: 100%;
}

.navbar-inverse{
    border-color: transparent;
    border-style: none;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a{
    font-size: 18px;
    color: rgb(8, 81, 190);
}

header{
	background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
	width: 100%;
    height: 100%;
    min-height: 700px;
    margin-top:20px;
  
}

.texto-inicio{
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    text-overflow: clip;

}


section{
   
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
	width: 100%;
}

.sobre {
    position: relative;
    padding: 50px 0px;
    color: rgb(8, 81, 190);
    
}

section h1{
    
        position: absolute;
        top: 150px;
        left: 50px;
        width: 300px;
        text-overflow: clip;
}

.download{
    padding: 50px 0px;
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}

.download h2 {
    text-align: center;
    margin-bottom: 50px;
}

.download img {
    width: 300px;
    display: block;
    margin: 0 auto;
}

footer{
	background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
	height: 50px;
}

footer ul {
    list-style-type: none;
    padding: 0;
    width: 120px;
    float: right;
    margin-top: 10px;
}

footer ul li {
    display: inline-block;
}

#acessoMedico .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}

#acessoPaciente .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}

#cadastroPaciente .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}
#cadastroMedico .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}

#cadastroMedico .modal-body{
        background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;

}


.carousel-tamanho{
    width: 50%;
    position: absolute;
    top: 80px;
    left: 40px;
    display: block;
}

.texto-plataforma{
    width: 30%;
    position: absolute;
    top:250px;
    right:200px;
    color: #ffffff;
}

.simGif{
    margin: auto;
    width: 210px;
}


#dadosPessoais{
    text-align: ;
    font-size: 15px;
    font-weight: bold;
}
#cadastroPacienteLabel{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#cadastroMedicoLabel{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#acessoPacienteLabel{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#acessoMedicoLabel{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#acessoPaciente .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}
#acessoMedico .modal-body{
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;
}
.contato{
    padding: 50px 0px;
    background: linear-gradient(to right, #ffffff, rgba(0, 162, 255, 0.541));
    background-color: (rgb(0, 160, 255));
	width: 100%;

}
.form-contato{
    margin: auto;
    width: 338px;
}
.entreContato{
text-align: center;
}

body{
    background-image: url(../img/banner.jpg) no-repeat;
}

.comoFunciona{
    height: 500px;
    position: relative;
}
.carousel-inner .item img {
    display: block;
    margin: 0 auto;
}
.video-tamanho{
    position: absolute;
    top: 80px;
    right: 70px;
    display: block;

}