html{
    margin: 0;
    padding: 0;
    margin-top: -20px;
}

nav{
    background-color:  rgba(0, 0, 0, 0.1);
    height: 70px;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.navbar-inverse{
    border-color: transparent;
    border-style: none;
    background-color: transparent;
}

.navbar-inverse .navbar-nav>li>a{
    font-size: 18px;
    color: rgb(24, 161, 109);
    text-shadow: 1px 1px blue; 
}

header{
	background: linear-gradient(to bottom, #ffffff, rgb(105, 243, 190));
    background-color: rgb(96, 231, 103);
	width: 100%;
    height: 100%;
    margin-top:20px;
  
}

<<<<<<< HEAD
.fundo{
    background: -o-repeating-linear-gradient(to left, #000000, red);
}

.texto-inicio{
    position: absolute;
    top: 150px;
    left: 50px;
    width: 300px;
    text-overflow: clip;

}



=======
>>>>>>> 96d14a11db213617811b5726c1309fe0e0b09974
.mySlides {
    display: flex;
    height: 700px;
    
    
    
}

section{
    margin-top: -20px;
    background: linear-gradient(to top, #ffffff, rgb(105, 243, 190));
    background-color: rgb(96, 231, 103);
	width: 100%;
    height: 80%;

}

<<<<<<< HEAD
.quadrado{
    width: 10px;
    height: 10px;
    color: red;
}

=======
section h1{
    
        position: absolute;
        top: 150px;
        left: 50px;
        width: 300px;
        text-overflow: clip;
}



>>>>>>> 96d14a11db213617811b5726c1309fe0e0b09974
.download{
    margin-top: -20px;
    background: linear-gradient(to top, #ffffff,  palegreen);
    /* background: linear-gradient(to left, #ffffff, #ffffff, palegreen); */
    background-color: rgb(96, 231, 103);
	width: 100%;
	height: 30%;
}

footer{
	background: linear-gradient( to top,  rgba(54, 105, 54, 0.836), rgba(152, 251, 152, 0.637)); 
	width: 100%;
	height: 50px;
}


/* @media (min-widht: 1080px)
    navbar-inverse .navbar-nav>li>a{
        background: transparent;
        text-shadow: 1px 1px grey; 
    }
