<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Formulario Medico</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body id="CadastroMedico">
        <div id="ControleMedico">
            <div id="Nome">
                <input type="text" placeholder="Nome completo">
            </div>
                
            <div id="email">
                <input type="email" placeholder="Email">
            </div>
                
            <div id="CRM">
                <input type="text" placeholder="CRM" >
            </div>

            <div id="BotaoMedico">
                <button>CADASTRAR MEDICO</button>
            </div>
        </div>
</body>
</html>