<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fomulario Paciente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body id="LoginPaciente">
        <div id="AcessoPaciente">
            <div id="">
                <input type="text" placeholder="Nome completo">
            </div>      
            <div id="">
                <input type="text" placeholder="Data de nascimento">
            </div>                
            <div id="">
                <input type="password" placeholder="4 ultimos digitios do CPF, só número" >
            </div>
            <div id="">
                <input type="text" placeholder="Idade">
            </div>
            <div id="">
                <input type="text" placeholder="Naturalidade">
            </div>
            <div id="">
                <input type="text" placeholder="Nacionalidade">
            </div>
            <div id="">
                <input type="text" placeholder="Etnia">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>
            <div id="">
                <input type="text" placeholder="">
            </div>

            <div id="">
                <button>TESTE PACIENTE</button>
            </div>
            
        </div>
</body>
</html>