<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login Medico</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="main.css" />
	<script src="main.js"></script>
</head>
<body id="LoginMedico">
		<div id="AcessoMedico">	
			<div id="Nome">
				<input type="text" placeholder="Nome completo do paciente">
			</div>

			<div id="Data">
				<input type="text" placeholder="Data de nascimento do paciente">
			</div>

			<div id="CPF">
				<input type="password" placeholder="4 ultimos digitos do CPF">
			</div>

			<div id="Email">
				<input type="email" placeholder="e-mail medico">
			</div>

			<div id="BotaoMedico">
				<button>TESTE MEDICO</button>
			</div>
		</div>
</body>
</html>