<ion-view view-title="Cadastro Paciente">
    <ion-content class="padding">
  
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Nome Completo do Profissional">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="E-mail do Profissional">
        </label>
        <label class="item item-input">
          <input type="text" placeholder="Cadastro do Profissional - CRM, CRFa">
        </label>
          <label class="item item-input">
            <input type="text" placeholder="Nome Completo do Profissional">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="E-mail do Profissional">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Cadastro do Profissional - CRM, CRFa">
          </label>
        </div>
  
        <button class="button button-block button-positive" ng-click="">
          Cadastrar
        </button>
  
    </ion-content>
  </ion-view>