<ion-view view-title="Cadastro Médico">
    <ion-content class="padding">
  
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Nome Completo do Profissional" ng-model="medico.nome">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="E-mail do Profissional" ng-model="medico.email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Cadastro do Profissional - CRM, CRFa" ng-model="medico.crm">
          </label>
        </div>
  
        <button class="button button-block button-positive" ng-click="cadastrar()">
          Cadastrar
        </button>
  
    </ion-content>
  </ion-view>