<ion-view hide-nav-bar="true">
    <ion-content class="padding cadPac">
  
        <img class="image" src="/img/Sim.gif" width="10" height="300" alt="">

        <div>
            <div ng-hide="mostrarPac">
                <button class="button button-block button-positive btnInto" ng-click="entrarMedico()"> Médico</button>  
                    <div ng-show="mostrarMed">
                        <div class="list inputFormLogin">
                            <label class="item item-input inputDetMed">
                                 <input type="text" placeholder="Nome Completo do Paciente">
                            </label>
                            <label class="item item-input inputDetMed">
                                 <input type="number" placeholder="Data de Nascimento do Paciente">
                            </label>
                            <label class="item item-input inputDetMed">
                                 <input type="number" placeholder="4 ultimos Digitos CPF">
                            </label>
                            <label class="item item-input inputDetMed">
                                <input type="email" placeholder="E-mail do Médico">
                            </label>
                        </div>
                        <button class="button button-block button-positive btnInto" ng-click="">Entrar</button>
            
                    </div>
            </div>
            <div ng-hide="mostrarMed">
                <button class="button button-block button-positive btnInto" ng-click="entrarPaciente()"> Paciente</button>
                    <div ng-show="mostrarPac">
                        <div class="list inputFormLogin">
                            <label class="item item-input inputDetMed">
                                 <input type="text" placeholder="Nome Completo do Paciente">
                            </label>
                            <label class="item item-input inputDetMed">
                                 <input type="number" placeholder="Data de Nascimento do Paciente">
                            </label>
                            <label class="item item-input inputDetMed">
                                 <input type="number" placeholder="4 ultimos Digitos CPF">
                            </label>
                        </div>
                            <button class="button button-block button-positive btnInto" ng-click="">Entrar</button>
            
                    </div>
            </div>
            <div>
                <button class="button button-full button-light btnIntoCad" ng-click="pagCadastro()"> Cadastrar</button>
                    <div class="button-bar" ng-show="mostrarCad">
                        <a class="button button-full button-light" ng-click="cadMed()">Medico</a>
                        <a class="button button-full button-light" ng-click="cadPac()">Paciente</a>
                    </div>
            </div>
    </ion-content>
  </ion-view>